<a href="https://colab.research.google.com/github/siddhantdixit/OOP-ClassWork/blob/main/OOP-Lab-Assignment/SiddhantDixit_20bcs123_OOPTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
Create a python class circle, constructed by a radius and two methods that will
compute the area and the perimeter of a circle.

In [1]:
import math
class Circle:
  def __init__(self, radius):
    self.radius = radius
  
  def Area(self)->float:
    return math.pi*((self.radius)**2)
  
  def Perimeter(self)->float:
    return 2*(math.pi)*self.radius
  
rad = float(input("Enter the radius : "))
circ = Circle(rad)
print("Area of Circle : ",circ.Area())
print("Area of Perimeter : ",circ.Perimeter())

Enter the radius : 10
Area of Circle :  314.1592653589793
Area of Perimeter :  62.83185307179586

# Problem 2
Write a python program to enter the data of 5 teaching faculty and display it. (Data
of a Faculty: Name, Emp ID, Branch, Salary).

In [12]:
class Faculty:
    def __init__(self, Name, Emp_ID, Branch, Salary):
        self.Name = Name
        self.Emp_ID = Emp_ID
        self.Branch = Branch
        self.Salary = Salary
    

Faculty_List = []

i=1
while i<6:
    print(f"\n*************************** Faculty {i} ***************************")
    
    Name = input("Enter Faculty's name : ")
    Emp_ID = int(input("Enter Faculty's Employee ID : "))
    Branch = input("Enter Faculty's Branch of Specialisation : ")
    Salary = input("Enter Facculty's Salary (in Rs) : ")
    Faculty_Obj = Faculty(Name, Emp_ID, Branch, Salary)
    Faculty_List.append(Faculty_Obj)

    i+=1

print("\n\n############################## Faculty Details ##############################")
for member in Faculty_List:
    print(member.Name, member.Emp_ID, member.Branch, member.Salary)

*************************** Faculty 1 ***************************
Enter Faculty's name : Aman
Enter Faculty's Employee ID : 123
Enter Faculty's Branch of Specialisation : CSE
Enter Facculty's Salary (in Rs) : 20000

*************************** Faculty 2 ***************************
Enter Faculty's name : Naman
Enter Faculty's Employee ID : 345
Enter Faculty's Branch of Specialisation : DSAI
Enter Facculty's Salary (in Rs) : 25000

*************************** Faculty 3 ***************************
Enter Faculty's name : Raman
Enter Faculty's Employee ID : 567
Enter Faculty's Branch of Specialisation : ECE
Enter Facculty's Salary (in Rs) : 23000

*************************** Faculty 4 ***************************
Enter Faculty's name : Gagan
Enter Faculty's Employee ID : 678
Enter Faculty's Branch of Specialisation : Civil
Enter Facculty's Salary (in Rs) : 18000

*************************** Faculty 5 ***************************
Enter Faculty's name : Pavan
Enter Faculty's Employee ID : 890
Enter Faculty's Branch of Specialisation : Mechanical
Enter Facculty's Salary (in Rs) : 24000


############################## Faculty Details ##############################
Aman 123 CSE 20000
Naman 345 DSAI 25000
Raman 567 ECE 23000
Gagan 678 Civil 18000
Pavan 890 Mechanical 24000

# Problem 3
Write a python program to demonstrate the working of the banking system.

a. Create account class with data members (Account No, Account holder name,
Amount)

b. Crete constructor to initialize data members.

c. Create member functions (Deposit, withdraw, check balance, and display account
details)

In [13]:
class BankingSys:

    def __init__(self,number,holder,amout):
        self.acc_num = number
        self.holder_name = holder
        self.__bank_balance = amout

    def deposit(self,amount):
        self.__bank_balance += amount
        print(f"Amount {amount} succesfully deposited.")
        print(f"Updated Bank Balance: {self.__bank_balance}.")

    def withdraw(self,amount):
        self.__bank_balance -= amount
        print(f"Amount {amount} has been succesfully withdraw.")
        print(f"Updated Bank Balance: {self.__bank_balance}.")

    def check_balance(self):
        print(f"Your Current Balance: {self.__bank_balance}.")

    def acc_details(self):
        print(f"BANK NO. {self.acc_num}.")
        print(f"ACCOUNT HOLDER NAME {self.holder_name}.")
        print(f"BANK BALANCE {self.__bank_balance}.")


user_1 = BankingSys(4525,"Rohit",10000)
user_1.deposit(450)
user_1.withdraw(150)
user_1.check_balance()
user_1.acc_details()

user_2 = BankingSys(8212,"Ajan",10000)
user_2.deposit(5000)
user_2.withdraw(4000)
user_2.check_balance()
user_1.acc_details()

Amount 450 succesfully deposited.
Updated Bank Balance: 10450.
Amount 150 has been succesfully withdraw.
Updated Bank Balance: 10300.
Your Current Balance: 10300.
BANK NO. 4525.
ACCOUNT HOLDER NAME Rohit.
BANK BALANCE 10300.
Amount 5000 succesfully deposited.
Updated Bank Balance: 15000.
Amount 4000 has been succesfully withdraw.
Updated Bank Balance: 11000.
Your Current Balance: 11000.
BANK NO. 4525.
ACCOUNT HOLDER NAME Rohit.
BANK BALANCE 10300.

# Problem 4
Write a python program to store and display the student name, USN, and marks of a
student. Use the list to store the marks of a student in three subjects.

In [14]:
class students:
    
    def __init__(self, name):
        self.name = name
        self.marks = []
        
    def Marks(self):
        for i in range(3):
            m = int(input("Enter the marks of %s in %d subject: "%(self.name, i+1)))
            self.marks.append(m)
            
    def display_marks(self):
      usn = (input("please enter your USN: "))
      print (self.name, "got ", self.marks)
      print("%s's USN is %s"%(self.name,usn))
             
name = input("Enter the name of Student:")
s1 = students(name)
s1.Marks()
s1.display_marks()
print ("\n")
name = input("Enter the name of Student:")
s2 = students(name)
s2.Marks()
s2.display_marks()

Enter the name of Student:Dipesh
Enter the marks of Dipesh in 1 subject: 89
Enter the marks of Dipesh in 2 subject: 79
Enter the marks of Dipesh in 3 subject: 94
please enter your USN: 20bcs043
Dipesh got  [89, 79, 94]
Dipesh's USN is 20bcs043


Enter the name of Student:Mishra
Enter the marks of Mishra in 1 subject: 82
Enter the marks of Mishra in 2 subject: 99
Enter the marks of Mishra in 3 subject: 74
please enter your USN: 20bcs142
Mishra got  [82, 99, 74]
Mishra's USN is 20bcs142

# Problem 5
A hospital wants to create a database regarding covid-19 patients. The information to
store include:

a) Name of the patient

b) Date of admission.

c) List of symptoms.

d) Oxygen level.

e) Date of discharge.

Note: If the oxygen level is less than 90, then the patient is put on oxygen support else
moved to the general ward for observation.

Create a class to store the above information. The member function should include a
function to enter patient’s information, check the severity, display the number of
patients required oxygen support, number of patients in the general ward for
observation, and the total number of patients admitted.

In [16]:
class hospital:
  name=[]
  date_of_admission=[]
  symptoms=[]
  oxygen_level=[]
  date_of_discharge=[]
  general_ward=[]
  oxygen_support=[]

  def __init__(self, name, date_of_admission, list_of_symptoms, oxygen_level, date_of_discharge):
    self.name.append(name)
    self.date_of_admission.append(date_of_admission)
    self.symptoms.append(list_of_symptoms)
    self.oxygen_level.append(oxygen_level)
    self.date_of_admission.append(date_of_discharge)

  def check_severity(self,name):
    for i in range(len(self.name)):
      if self.name[i]==name:
        if self.oxygen_level[i]<90:
          self.oxygen_support.append(name)
        else:
          self.general_ward.append(name)

  def oxygen_support_required(self):
    print(len(self.oxygen_support))

  def general_ward_strength(self):
    print(len(self.general_ward))

  def total_patients(self):
    print(len(self.name))


symp1 = ['Headache', 'Fatigue', 'Diabetes']
symp2 = ['Vitmain-D Deficiency', 'Bodyache']
p1 = hospital('Amit', 11, symp1, 92, 15)
p2 = hospital('Arun', 21, symp2, 89, 30)
p3 = hospital('Ankur', 20, symp1, 81, 27)
p1.check_severity('Amit')
p2.check_severity('Arun')
p3.check_severity('Ankur')
p2.oxygen_support_required()
p2.general_ward_strength()
p2.total_patients()

2
1
3

# Problem 6
Create a Class time that has separate int member data for hours, minutes, and
seconds. One
constructor should initialize this data to 0 and another should initialize it to fixed
values. Another member function should display it in hh:mm: ss format.

In [18]:
class time:
  def __init__(self):
    self.hours = 0
    self.minutes = 0
    self.seconds = 0
  
  def values(self):
    self.hours = 5
    self.minutes = 35
    self.seconds = 55

  def display(self):
    print(self.hours,":",self.minutes,":",self.seconds)

t=time()
t.display()
t.values()
t.display()

0 : 0 : 0
5 : 35 : 55

# Problem 7
Create a class to store the details of two students: stud1(Name= Rahul, Age =21, roll
no=33),
stud2( Name = Rohit, Age=22, Roll no = 74)

Write a function to compare the age of both the students, print whether they are equal
or not equal.

In [21]:
class Student:
  def __init__(self, name, age, roll_no):
    self.name = name
    self.age = age
    self.roll_no = roll_no

def compare(stud1, stud2):
  if stud1.age == stud2.age:
    print("Their ages are equal.")
  else:
    print("Their ages are not equal.")
    
stud1 = Student('David', 31, 34)
stud2 = Student ('Alex', 25, 43)
compare(stud1, stud2)

Their ages are not equal.

# Problem 8
Create an instance of a class to store student details such as Sem, Institute, Name, and
usn where:

 Sem and Institute details should be class variables.

 Name and usn should be instance variables.

And also, print the instance variable using the instance method and class variable
using the class method, also use a static method to print an explanation about the
class.

In [25]:

class student():
  semester = "3rd Sem"
  insti = "IIIT DHARWAD"
  def __init__(self,Name,USN):
    self.Name = Name
    self.USN = USN
  def display(self):
    print("Name: ",self.Name)
    print("USN: ",self.USN)
  @classmethod
  def dis_class(cls):
    print(cls.semester)
    print(cls.insti)
  @staticmethod
  def printclass(Name, USN, semester, insti):
    print("Name: ",Name)
    print("USN: ", USN)
    print("Semester: ",semester)
    print("Institute: ",insti)

s1 = student("Amit", 39)
s1.display()
s1.dis_class()
s1.printclass("Arun",47,"3rd Sem", "IIIT DHARWAD")

Name:  Amit
USN:  39
3rd Sem
IIIT DHARWAD
Name:  Arun
USN:  47
Semester:  3rd Sem
Institute:  IIIT DHARWAD

# Problem 9
Write a python program to create a student class with the variable Name, Roll no, and
Sem, also the student is having a laptop create an instance of an inner class laptop
with variable cpu, Ram, and hard disk and display details. Also, create multiple
objects for the inner class laptop.

In [26]:
class student:
  class laptop:
    def __init__(self):
      self.cpu = input("Name of CPU Manufacturer : ")
      self.ram = int(input("Available RAM (in GB) : "))
      self.hard_disk = int(input("Hard Disk Storage Capacity (in GB) : "))
    def disp(self):
      print("Laptop Specifications :-\nCpu Manufacturer :", self.cpu, "\nRAM :", self.ram, "\nHard Disk Storage Capacity :", self.hard_disk)
  def __init__(self):
    self.name = input("Enter Name : ")
    self.rno  = input("Enter Reg. No. : ")
    self.sem = input("Enter Semester : ")
  def disp(self):
    print("\n Name of the student :",self.name,"\n Registration No. :",self.rno, "\n Semester :", self.sem)
s1 = student()
l1 = student.laptop()
s2 = student()
l2 = student.laptop()
s1.disp()
l1.disp()
s2.disp()
l2.disp()

Enter Name : Dipesh
Enter Reg. No. : 20bcs043
Enter Semester : 3
Name of CPU Manufacturer : Ryzen
Available RAM (in GB) : 32
Hard Disk Storage Capacity (in GB) : 512
Enter Name : Mishra
Enter Reg. No. : 20bcs034
Enter Semester : 4
Name of CPU Manufacturer : Intel
Available RAM (in GB) : 16
Hard Disk Storage Capacity (in GB) : 512

 Name of the student : Dipesh
 Registration No. : 20bcs043
 Semester : 3
Laptop Specifications :-
Cpu Manufacturer : Ryzen
RAM : 32
Hard Disk Storage Capacity : 512

 Name of the student : Mishra
 Registration No. : 20bcs034
 Semester : 4
Laptop Specifications :-
Cpu Manufacturer : Intel
RAM : 16
Hard Disk Storage Capacity : 512